<div class="h-screen w-screen flex items-center justify-center gap-2 ">
    <div class="h-[460px] w-11/12 sm:w-9/12  md:w-11/12 lg:w-3/4 xl:w-2/4 bg-[#00523F] rounded-[10px] flex">
      <div
        class="h-full w-1/2 bg-[] hidden sm:hidden md:flex lg:flex xl:flex rounded-[10px]    items-center justify-center "
      >
        <img src="/images/login.png" alt="" class="h-3/4 w-auto" />
      </div>
      <div class="h-full w-full sm:w-full md:w-1/2 lg:w-1/2 xl:1/2 bg-[] rounded-[10px]">
        <h2 class="bg-[]  mt-6 text-[25px] text-center  ml- font-black text-white ">Login here</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="h-auto mt-10 bg-[] flex flex-col gap-4 items-center  ">
  
            <div class="h-auto w-5/6 bg-[] border-b border-b-[#536271] p-1 flex flex-col gap-1">
              <p class="text-[12px] text-white " *ngIf="!submitted || !loginForm.get('email')?.errors">Email</p>
              <span *ngIf="submitted && loginForm.get('email')?.errors">
                <span *ngIf="loginForm.get('email')?.errors?.['required']">
                  <span class="text-red-500 text-xs">Email is required.</span>
                </span>
                <span *ngIf="loginForm.get('email')?.errors?.['email']">
                  <span class="text-red-500 text-xs">Please enter a valid email address.</span>
                </span>
              </span>
              <div class="flex gap-2">
                <span class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="white" fill-rule="evenodd" d="m7.172 11.334l2.83 1.935l2.728-1.882l6.115 6.033c-.161.052-.333.08-.512.08H1.667c-.22 0-.43-.043-.623-.12l6.128-6.046ZM20 6.376v9.457c0 .247-.054.481-.15.692l-5.994-5.914L20 6.376ZM0 6.429l6.042 4.132l-5.936 5.858A1.663 1.663 0 0 1 0 15.833V6.43ZM18.333 2.5c.92 0 1.667.746 1.667 1.667v.586L9.998 11.648L0 4.81v-.643C0 3.247.746 2.5 1.667 2.5h16.666Z"/></svg></span>
              <input type="email" class="w-[250px] h-6 bg-inherit border-l-2 border-r-0 border-t-0 border-b-0 border-indigo-500 text-[13px] pl-[10%] text-white focus:outline-none no-spinner" placeholder="abcd@gmail.com" formControlName="email"  >
              </div>
            </div>
  
            <div class="h-auto w-5/6 bg-[] border-b border-b-[#536271] p-1 flex flex-col gap-1">
              <p class="text-[12px] text-white" *ngIf="!submitted || !loginForm.get('password')?.errors">Password</p>
              <span *ngIf="submitted && loginForm.get('password')?.errors">
                <span class="text-red-500 text-xs">Please enter a password.</span>
              </span>
              <div class="flex gap-2">
                <span class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 10V8c0-2.761 1.239-5 4-5s4 2.239 4 5v2M3.5 17.8v-4.6c0-1.12 0-1.68.218-2.107a2 2 0 0 1 .874-.875c.428-.217.988-.217 2.108-.217h10.6c1.12 0 1.68 0 2.108.217a2 2 0 0 1 .874.874c.218.428.218.988.218 2.108v4.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C18.98 21 18.42 21 17.3 21H6.7c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C3.5 19.481 3.5 18.921 3.5 17.8Zm8.5-2.05v-.5m4 .5v-.5m-8 .5v-.5"/></svg></span>
                <input type="password" class="w-[250px] h-6 bg-inherit border-l-2 border-r-0 border-t-0 border-b-0 border-indigo-500 text-[13px] pl-[10%] text-white focus:outline-none no-spinner" placeholder="********" formControlName="password">
              </div>
            </div>
            
            <button type="submit" class="h-[35px] w-[85%] font-black font-mono rounded bg-[#FFC42A] text-[#00523F] ">Login</button>
          </div>
          </form>
        <div class="h-auto bg-[] mt-4 flex flex-col gap-4 ">
            <p class="text-[12px] text-white text-end pr-8 cursor-pointer" routerLink="/auth/forgetPassword">Forget passowrd ?</p>
        
          <p class="w-full bg-[] mt-9 text-white text-center text-[12px]">if you dont have an account ? | <span class="font-black text-[#f24c00] text-[15px] cursor-pointer" routerLink="/auth/register"  >Sign up</span></p>
        </div>
      </div>
    </div>
    
  </div>
  