<div class="h-screen w-screen flex items-center justify-center">
    <div class="w-full sm:w-[80%] md:w-[60%] lg:w-[40%] xl:w-[30%] bg-gradient-to-r from-[#d88c59] to-[#8e6e53] rounded-[10px]">
        <p class="w-full bg-[] text-[30px] text-center font-medium mt-[5%]">Recover Password</p>
        
        <!-- Email Verification Form -->
        <div *ngIf="emailSection">
            <p class="w-full bg-[] text-[15px] text-center mt-[5%]">What email address is associated with your account?</p>
            <form [formGroup]="recoverPasswordEmail" (ngSubmit)="emailSubmit()">
                <input type="email" placeholder="Enter your email address" 
                       class="h-12 rounded-lg w-[80%] ml-[10%] mt-[5%] px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 bg-gray-100 text-gray-700 border border-gray-300" 
                       formControlName="email">
                <p *ngIf="submitEmail && recoverPasswordEmail.get('email')?.errors" class="text-[red] ml-[10%]">Enter a valid email address</p>
                <button type='submit' class="h-[40px] w-[70%] ml-[15%] mb-5 rounded-[10px] text-blue-950 bg-[#FFC42A] mt-[4%]">Next</button>
            </form>
        </div>
        
        <!-- Password Reset Form -->
        <div *ngIf="emailVerified">
            <p class="w-full bg-[] text-[15px] text-center mt-[5%]">Enter your new password</p>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="passwordSubmit()">
                <input type="password" placeholder="Enter your new password" 
                       class="h-12 rounded-lg w-[80%] ml-[10%] mt-[5%] px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 bg-gray-100 text-gray-700 border border-gray-300" 
                       formControlName="newPassword">
                <p *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="text-[red] ml-[10%]">
                    Enter a valid password .Password must be at least 8 characters long
                </p>
                <button type='submit' class="h-[40px] w-[70%] ml-[15%] mb-5 rounded-[10px] text-blue-900 bg-[#FFC42A] mt-[4%]">Reset Password</button>
            </form>
        </div>
    </div>
</div>