<div class="h-screen w-screen flex items-center justify-center">
    <div *ngIf="emailSection" class=" w-full sm:w-[80%] md:w-[60%] lg:w-[40%] xl:w-[30%] bg-violet-200 rounded-[10px]">
        <p class="w-full bg-[] text-[30px] text-center font-medium mt-[5%]">Recover Password</p>
        <p class="w-full bg-[] text-[15px] text-center mt-[5%]">What email address is associated with your account?</p>
        <form [formGroup]="recoverPasswordEmail" (ngSubmit)="emailSubmit()">
            <input type="email" placeholder="Enter your email address" class="h-12 rounded-lg w-[80%] ml-[10%] mt-[5%] px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50 bg-gray-100 text-gray-700 border border-gray-300" formControlName="email">
            <p *ngIf="submitEmail && recoverPasswordEmail.get('email')?.errors" class="text-[red] ml-[10%]">Enter a valid email address</p>
        <button type='submit' class="h-[40px] w-[70%] ml-[15%] mb-5 rounded-[10px] text-white bg-[blue] mt-[7%]">Next</button>
    </form>
    </div>
    
</div>