<div class="max-w-7xl mx-auto p-8 bg-white rounded-lg shadow-lg mt-10 relative">
  <!-- Delete button added here -->
  <button class="absolute top-4 right-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" (click)="deleteThis(blog._id)">
    Delete
  </button>

  <h1 class="text-4xl font-extrabold mb-6 text-center text-gray-800">{{ blog.title }}</h1>

  <div class="flex items-center justify-center mb-8">
    <div>
      <p class="text-lg font-semibold text-gray-700">{{ blog.userData[0].name }}</p>
      <p class="text-sm text-gray-500">{{ blog.createdAt | date: 'longDate' }}</p>
    </div>
  </div>

  <div class="overflow-hidden flex items-center justify-center rounded-lg mb-8 ">
    <img [src]="'http://localhost:3000/'+ blog.image" alt="{{ blog.title }}" class="w-auto h-96 object-cover rounded-xl">
  </div>

  <div class="prose max-w-none text-gray-700">
    <p class="text-md leading-relaxed">{{ blog.description }}</p>
  </div>
</div>