<div class="flex">
    <button class="lg:hidden p-4 fixed top-0 left-0 z-10" (click)="toggleSidebar()">
        @if(!sidebarOpen){
            <svg  xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
        }
        @if(!closeBtn){
            <svg  xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
        }
      </button>
      

    <app-sidebar  [sidebarOpen]="sidebarOpen"></app-sidebar>
    <main class="flex-grow p-4 ml-0 lg:ml-80">
        <landing-page></landing-page>
    </main>
</div>