@if(sidebarOpen){
  <aside class="w-80 h-screen bg-indigo-600 fixed text-white flex flex-col "  >
    <!-- Profile -->
    <div class="p-4 border-b border-gray-400 flex flex-col items-center justify-center ">
        <div class="w-16 h-16 rounded-full bg-blue-500 flex items-center justify-center text-2xl font-bold mb-2">
            {{ name.charAt(0) }}
        </div>
        <h2 class="text-lg font-semibold">{{ name }}</h2>
        <p class="text-sm text-gray-200">{{ email }}</p>
    </div>
  
    <!-- Buttons -->
    <nav class="flex-grow p-4">
      <button class="w-full py-2 px-4 text-left hover:bg-white hover:text-indigo-700 rounded mb-2" routerLink="/feature/home/" >Home</button>
      <button class="w-full py-2 px-4 text-left hover:bg-white hover:text-indigo-700 rounded mb-2" routerLink="/feature/home/drafts" >Drafts</button>
      <button class="w-full py-2 px-4 text-left hover:bg-white hover:text-indigo-700 rounded mb-2" routerLink="/feature/home/createdblogs" >Posted Blogs</button>
        <button class="w-full py-2 px-4 text-left hover:bg-white hover:text-indigo-700 rounded mb-2" routerLink="/feature/home/blogPost" >Create a Blog</button>
    </nav>
  
    <!-- Logout -->
    <div class="p-4 border-t border-gray-700">
        <button class="w-full py-2 px-4 bg-[#e85d04] hover:bg-[#faa307] rounded" (click)="logout()">Logout</button>
    </div>
  </aside>
}
