<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-8 text-indigo-800">Scheduled Blogs</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      @for (blog of scheduledBlogs; track blog._id) {
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <img [src]="'http://localhost:3000/' + blog.image" [alt]="blog.title" class="w-full h-48 object-cover">
          <div class="p-4">
            <div class="flex items-center justify-between mb-4">
              <p class="text-xs text-indigo-600 font-semibold">
                Scheduled: {{ blog.sceduleDate}} {{blog.sceduleTime}}
              </p>
            </div>
            <h2 class="text-xl font-semibold mb-2">{{ blog.title }}</h2>
            <p class="text-gray-700 mb-4">{{ blog.description }}</p>
            <button 
              class="bg-indigo-600 text-white p-2 rounded hover:bg-indigo-700 transition duration-300"
              (click)="singleOpen(blog._id)"
            >
              Read More
            </button>
          </div>
        </div>
      }
    </div>
  </div>